* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-image: none;
}

#main {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;

}

#sidevala {
    width: 30vw;
    height: 100vh;
    background-color: rgb(112, 177, 235);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

#intrect {
    width: 90%;
    height: 10vh;
    background-color: rgb(67 0 193);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    border: 0.1rem solid black;
    margin-top: .5rem;
}

.tbtn {
    width: 5rem;
    height: 2rem;
    margin: 1rem;
    padding: .2rem;
    border: 0.15rem solid black;
    border-radius: 0.4rem;
}

#deleteall {
    background-color: #ff6868;
}

#newtask {
    background-color: #23cb23;
}

.taskmodule {
    width: 100%;
    height: 5rem;
    padding: .6rem;
    background-color: chartreuse;
    border: .05rem solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.taskmodulep1 {
    width: 10%;
    height: 100%;
    padding: .1rem;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.taskmodulep2 {
    width: 60%;
    height: 4rem;
    padding: .1rem;

}

.taskmoduleb {
    width: 17%;
    height: 1.3rem;
    padding: .1rem;
    margin-bottom: 1vh;

}



#showvala {
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 150, 41);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#taskbuttons {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.distaskbtns {
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 211, 231);
}

#distaskbig {
    width: 100%;
    height: 90vh;
    padding-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(182 189 255);
}







/* ******************************************** */
#task_title {
    width: 70%;
    height: 15vh;
    font-size: 2rem;
    background-color: #ffcaf9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task_discription {
    width: 100%;
    height: 73vh;
    padding-top: 2vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(182 189 255);
}

#from_when {
    width: 45%;
    height: 10vh;
    background-color: #c2ffcc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#till_when {
    width: 45%;
    height: 10vh;
    background-color: #ffb7b7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#other_discription {
    width: 100%;
    height: 59vh;
    z-index: 10;
    background-color: rgb(182 189 255);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ************************************ */
.deletedtasks {
    width: 20%;
    height: 15%;
    background-color: rgb(0, 255, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.deletedtasksnumber {
    width: 20%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deletedtaskstitle {
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}